* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #141539;
}

body, p {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.logo {
  width: 120px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 4px;
  padding: 8px;
}

.score {
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 6px 18px;
}

.score-text {
  font-size: .8rem;
  color: hsl(238, 48%, 15%);
  font-weight: 700;
}

.score-points {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(229, 25%, 31%);
}

.game {
  position: relative;
  width: 90%;
  margin: 40px auto;
}

.triangle-image {
  width: 250px;
  display: block;
  margin: 0px auto;
  margin-top: 100px;
  height: auto;
}

.game-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  border: none;
  padding: 10px;
}

.rock {
  padding: 15px 9px;
  top: -20%;
  left: 1%;
}

.paper {
  padding: 12px 10px;
  top: -20%;
  left: 60%;
}

.scissors {
  padding: 12px 10px;
  top: 55%;
  left: 32%;
}

.one {
  border: 10px solid #dd405d;
}

.two {
  border: 10px solid #5671f5;
}

.three {
  border: 10px solid #eca922;
}

.game-btn .rock, .game-btn .paper, .game-btn .scissors {
  width: 70px;
  padding: 10px 15px;
}

.rules {
  display: flex;
  justify-content: center;
  margin: 80px 0px 50px;
}

.rules-btn {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #141539;
  color: white;
  font-weight: 600;
  padding: 4px 20px;
  border: 2px solid #606e85;
  border-radius: 4px;
  margin: auto;
}